<!-- <h1>Welcome to {{hotelName}}!!</h1> -->
 <app-header></app-header>
 <app-header></app-header>
 <app-header></app-header>

<!--We can use all the html attributes like innerText, hidden, etc. in Angular
But if we use hidden attribute, it will hide the element but it will still be present in the DOM (which can cause performance issues if application is heavy)
So, it is better to use *ngIf directive to remove the element from the DOM-->
<div [hidden]="hideRooms">
    Number of Rooms:
    <div [ngStyle]="{'color': rooms.availableRooms ? 'green': 'red'}"
         [innerText]="numberOfRooms"></div>
</div>

<!-- Whenever we do some action view needs to be updated, it happens via change detection and here it is internally handled by angular and it runs for entire components-->
<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>
<div *ngIf="hideRooms">
    <!--
        sending the roomList to the rooms-list component and listening to the selectedRoom event. 
        When the selectedRoom event is emitted, the selectRoom method is called.

    -->
    <app-rooms-list [rooms]="roomList" (selectedRoom)="select1Room($event)" [title]="title"></app-rooms-list> 
    
</div>
<!-- {{ rooms?.availableRooms ?? 'No Rooms Available' }} -->
  <!-- {{roomList | json}} -->


<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>